.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 25px;
  color: #A2A5AE;

  &__back {
    cursor: pointer;
    color: #4A00CD;
  }

  &__select {
    width: 200px;
    @media screen and (max-width: 500px) {
      margin: 20px 0;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__upload {
      margin: 0 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @media screen and (max-width: 1040px) {
        margin: 0 8px;
      }
    }

    &__users {
      margin-left: 36px;
      margin-right: 12px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }

      @media screen and (max-width: 1040px) {
        margin-left: 8px;
        margin-right: 8px;
      }
    }

    &__add-user,
    &__menu,
    &__filter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__filter {
      margin-left: 10px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1040px) {
    padding: 20px;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}
