.app-flow {
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 100px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 23px;
    margin-bottom: 7px;
  }

  &__description {
    color: #656974;
    line-height: 23px;

    &__tag {
      display: inline-block;
      background-color: rgba(86, 86, 86, 0.1);
      border-radius: 6px;
      margin: 0 8px;
      font-size: 13px;
      line-height: 18px;
      padding: 2px 6px;
    }
  }

  &__grid {
    margin-top: 22px;

    &__masonry {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: -30px;
      width: auto;
    }

    &__masonry_column {
      padding-left: 30px;
      background-clip: padding-box;
    }

    &__column__item {
      margin-bottom: 16px;
      background-color: #F5F6F7;
      border-radius: 10px;
      width: 100%;

      img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      &__info {
        padding: 8px 10px 8px 16px;
        max-width: 100%;

        &__name {
          font-weight: 500;
          font-size: 15px;
          color: #000;
          margin-bottom: 8px;
        }

        &__author {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          line-height: 23px;
          
          &__name-avatar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            width: 80px;
            img {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              margin-right: 8px;
            }
            .app-flow__grid__column__item__info__author__name {
              flex: 1;
              max-width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              padding-right: 5px;
            }
          }

          &__activity {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #BBBBBB;
            span {
              color: #656974;
              font-size: 12px;
            }
            svg {
              font-size: 11px;
            }

            &__heart,
            &__comments {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin-right: 5px;
              transition: all 0.3s ease;
              svg {
                margin-right: 2px;
              }
            }

            &__heart {
              &:hover {
                color: #000;
                svg {
                  color: #F12B65;
                }
              }
            }

            &__comments {
              &:hover {
                color: #000;
                svg {
                  color: #4A00CD;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1040px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  &__load-more {
    width: 150px;
    border: none;
    display: block;
    margin: 30px auto;
    padding: 12px 0;
    outline: none;
    background-color: green;
    color: #ffffff;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  @media screen and (max-width: 1040px) {
    padding: 0 20px 80px 20px;
  }
}

